<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Fractalator</a>
      <ul class="nav">
        <li class="<%= "active" if @active_page == :home %>"><a href="/">Home</a></li>
        <li class="<%= "active" if @active_page == :about %>"><a href="/">About</a></li>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li class="<%= "active" if @active_page == :login %>">
        <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="<%= "active" if @active_page == :edit_account %>" >
        <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
      <% else %>
        <li class="<%= "active" if @active_page == :signup %>">
        <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
      </ul>
  </div>
</div>
